.v-enter-active,
.v-leave-active {
	transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

.truncate {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

html.dark {
	--my-primary-color: #9ac5f4ff;
	--my-primary-color-hover: #b2d7ffff;
	--my-primary-color-suppl: #82bcfbff;
	--my-primary-color-pressed: #b2d7ffff;
	--my-popover-color: #252525ff;
}

html:not(.dark) {
	--my-primary-color: #30a2ffff;
	--my-primary-color-hover: #6ab7f7ff;
	--my-primary-color-suppl: #2584d2ff;
	--my-primary-color-pressed: #6ab7f7ff;
}
